<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content="pandoc" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=yes"
        />
        <meta name="author" content="{{company.name}}" />
        <meta name="dcterms.date" content="{{issued}}" />
        <meta name="keywords" content="facture, invoice" />
        <title>Facture n°{{number}}</title>
        <style>
            * {
                box-sizing: border-box;
                font-family: "Fira Sans", sans-serif;
            }

            html {
                height: 100%;
            }

            body {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 2cm;
            }

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5mm;
            }

            header img {
                max-width: 2cm;
            }

            h1 {
                margin: 0;
                font-size: 15pt;
            }

            .company,
            .info {
                margin-bottom: 5mm;
            }

            .lines p {
                margin: 5px 0px;
            }

            .client {
                position: absolute;
                top: 5cm;
                left: 10.5cm;
            }

            #detail {
                width: 100%;
                border: solid 1px black;
                border-collapse: collapse;
                margin-bottom: 5mm;
            }

            #detail thead {
                border: solid 1px black;
            }

            #detail tr.total {
                border: solid 1px black;
            }

            #detail td,
            #detail th {
                border-left: solid 1px black;
            }

            #detail td:nth-child(3),
            #detail th:nth-child(3) {
                border-left: unset;
                padding-left: 1mm;
            }

            #detail tr.total td {
                border-left: unset;
            }

            footer {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                text-align: center;
                color: #6c757d;
            }

            @media not print {
                body {
                    max-width: 21cm;
                    max-height: 29.7cm;
                    /* height: 29.7cm; */
                    margin: auto;
                    border: dashed 1px black;
                }
            }

            @media print {
                a {
                    color:black;
                    text-decoration: none;
                }

                a:visited {
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <header id="title-block-header">
            <div>
                <img src="./header-logo.png" alt="Logo {{company.name}}" />
            </div>
            <div>
                <h1>Facture n°{{number}}</h1>
            </div>
        </header>
        <div class="body">
            <div class="company lines">
                <p><strong>{{company.name}}</strong></p>
                <p>{{company.activity}}</p>
                {{#each company.address}}
                    <p>{{this}}</p>
                {{/each}}
                <p>Tél : <a href="tel:{{company.phone.intl}}">{{company.phone.display}}</a></p>
                <p>
                    Mail :
                    <a href="mailto:{{company.mail}}">{{company.mail}}</a>
                </p>
                <p>
                    Site web :
                    <a href="https://{{company.website}}">{{company.website}}</a>
                </p>
                <p>Siret : {{company.siret}}</p>
            </div>

            <div class="client lines">
                <p>{{client.name}}</p>
                {{#each client.address}}
                    <p>{{this}}</p>
                {{/each}}
            </div>

            <div class="info lines">
                <p>Date d'émission de la facture : {{issued}}</p>
                <p>Date de livraison ou de fin de prestation : {{shipped}}</p>
            </div>

            <table id="detail">
                <thead>
                    <tr class="header">
                        <th style="text-align: left">Description</th>
                        <th style="text-align: right">Qté</th>
                        <th style="text-align: left">Unité</th>
                        <th style="text-align: right">Prix unitaire</th>
                        <th style="text-align: right">Total HT</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                        <td style="text-align: left">
                            {{description}}
                        </td>
                        <td style="text-align: right">{{amount}}</td>
                        <td style="text-align: left">{{unit}}</td>
                        <td style="text-align: right">{{unit_price}}€</td>
                        <td style="text-align: right">{{total}}€</td>
                    </tr>
                    {{/each}}
                    <tr class="total">
                        <td style="text-align: left">
                            <strong>Total HT</strong>
                        </td>
                        <td style="text-align: right"></td>
                        <td style="text-align: left"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"><strong>{{total}}€</strong></td>
                    </tr>
                    <tr class="total">
                        <td style="text-align: left">
                            TVA non applicable, art. 293 B du CGI
                        </td>
                        <td style="text-align: right"></td>
                        <td style="text-align: left"></td>
                        <td style="text-align: right"></td>
                        <td style="text-align: right"></td>
                    </tr>
                </tbody>
            </table>

            <div class="info lines">
                <p>Mode de règlement : {{payment.type}}</p>
                <p>
                    Date limite de règlement : {{payment.delay}} jours après livraison ou fin
                    de prestation de services
                </p>
                <p>Pénalités pour retard de paiement : {{payment.penalty}}% par mois</p>
            </div>
        </div>
        <footer class="lines">
            <p>{{company.name}}</p>
            <p>{{company.phone.display}} - {{company.mail}}</p>
        </footer>
    </body>
</html>
